header{
    text-align: center;
    background-color:rgb(190, 69, 69);
    font-size :2em;
    padding: 25px    

}
.navbar{
    background-color:black;
    height:50px;
}
aside{
    width: 20%;
    float: left;

}
article{
    width: 60%;
    float: left;
}
section{
    width: 20%;
    float: left;
}
footer{
    text-align: center;
    background-color:rgb(190, 69, 69);
    font-size :2em;
    padding: 25px ;
    display: block ;
    clear: both;


}